.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  flex: 1;
  text-align: left;
}

.logo-img {
  width: 60px; /* adjust size here */
  height: auto;
  margin-left: 20px;
}

.header-text {
  flex: 2;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .header-text {
    text-align: center;
  }
}
